header.my-header .header-call, .fixed-menu-wrapper, .fixed-menu-wrapper .left-side,
.fixed-menu-wrapper .right-side, .fixed-menu-wrapper .fixed-menu li ul, .fixed-menu-wrapper .fixed-menu li.my-dropdown > a::after {
  transition: .4s ease-in all;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

ul a,
ol a {
  text-decoration: none;
}

button {
  outline: 0;
  background-color: transparent;
}

body {
  font-size: 16px;
  color: #333;
  background-color: #fff;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

header.my-header {
  min-height: 96px;
  background-color: #fff;
}

header.my-header .logo-area {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 0 0 15px;
}

header.my-header .logo {
  text-decoration: none;
  color: #292222;
  font-size: 60px;
  letter-spacing: -2px;
  font-weight: 700;
  margin-right: 15px;
}

@media (min-width: 991px) and (max-width: 1200px) {
  header.my-header .logo {
    font-size: 42px;
  }
}

header.my-header nav.desktop-nav {
  margin-right: auto;
}

@media screen and (max-width: 991px) {
  header.my-header nav.desktop-nav {
    display: none !important;
  }
}

header.my-header .header-menu {
  display: flex;
}

header.my-header .header-menu li {
  position: relative;
}

header.my-header .header-menu li a {
  padding: 38px 15px;
  line-height: 20px;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

header.my-header .header-menu li ul {
  position: absolute;
  background-color: #e9e8e8;
  width: 300px;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: .4s ease-in all;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: translateY(-30px);
  pointer-events: none;
}

header.my-header .header-menu li ul a {
  padding: 15px;
  border-bottom: 1px solid #cacaca;
}

header.my-header .header-menu li:hover > a {
  background-color: #e9e8e8;
}

header.my-header .header-menu li:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: all;
}

header.my-header .header-call {
  font-weight: 700;
  font-size: 12px;
  color: #ec075d;
  border: 2px solid rgba(236, 7, 93, 0.3);
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
}

@media screen and (max-width: 991px) {
  header.my-header .header-call {
    display: none;
  }
}

header.my-header .header-call:hover {
  background-color: #ec075d;
  color: #fff;
  transform: translateY(-3px);
}

header.my-header .menu-collapse {
  height: 96px;
  width: 96px;
  background-color: #ede5e8;
  border: 0;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  margin-left: 20px;
}

@media screen and (max-width: 991px) {
  header.my-header .menu-collapse {
    margin-left: auto;
  }
}

header.my-header .menu-collapse span {
  background-color: #9f7b8b;
  width: 40px;
  height: 3px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  margin-top: -2px;
}

header.my-header .menu-collapse span:nth-child(1) {
  top: calc(50% - 10px);
}

header.my-header .menu-collapse span:nth-child(2) {
  top: 50%;
}

header.my-header .menu-collapse span:nth-child(3) {
  top: calc(50% + 10px);
  width: 32px;
  left: calc(50% + 8px);
}

.container {
  width: 1170px;
  max-width: 100%;
  padding: 0 15px;
}

.banner {
  height: calc(100vh - 96px);
  background-color: #4e4545;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.banner .banner-title {
  font-size: calc(2rem + 1.2vw);
  letter-spacing: -2px;
  line-height: 1.2;
  margin-bottom: 8px;
}

@media screen and (max-width: 991px) {
  .banner .banner-title {
    font-size: 28px;
    letter-spacing: -.5px;
  }
}

.banner .banner-desc {
  font-size: 18px;
}

.banner .banner-btn {
  font-weight: 700;
  color: #fff;
  background-color: #ec075d;
  padding: 8px calc(25px + 2vw);
  border-radius: 50px;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  margin-top: 20px;
}

.fixed-menu-wrapper {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.fixed-menu-wrapper .fixed-menu-inner {
  width: 100%;
  height: 100vh;
  display: flex;
}

@media screen and (max-width: 991px) {
  .fixed-menu-wrapper .fixed-menu-inner {
    flex-direction: column;
    overflow: auto;
  }
  .fixed-menu-wrapper .fixed-menu-inner .left-side, .fixed-menu-wrapper .fixed-menu-inner .right-side {
    width: 100%;
    max-width: 100%;
    flex: 0 0 auto;
  }
  .fixed-menu-wrapper .fixed-menu-inner .left-side {
    order: 1;
    background: #fff;
    border-top: 1px solid #e2e2e2;
  }
}

.fixed-menu-wrapper .left-side,
.fixed-menu-wrapper .right-side {
  width: 50%;
  max-width: 50%;
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px calc(20px + 3vw);
}

.fixed-menu-wrapper .right-side {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}

.fixed-menu-wrapper .left-side {
  background: white;
  background: radial-gradient(circle, white 0%, #e4dce0 100%);
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition-delay: .2s;
}

.fixed-menu-wrapper.is_active {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}

.fixed-menu-wrapper.is_active .left-side, .fixed-menu-wrapper.is_active .right-side {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(0);
}

.fixed-menu-wrapper .logo-area {
  margin-bottom: auto;
  margin-top: auto;
}

.fixed-menu-wrapper .logo {
  text-decoration: none;
  color: #333;
  font-size: 60px;
  letter-spacing: -1.5px;
  display: block;
  text-align: center;
  font-weight: 700;
}

.fixed-menu-wrapper .social {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.fixed-menu-wrapper .social li {
  display: inline;
}

.fixed-menu-wrapper .social li a {
  width: 54px;
  height: 54px;
  background-color: #292222;
  margin: 0 2px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.fixed-menu-wrapper .bottom-nav {
  display: flex;
  flex-direction: column;
}

.fixed-menu-wrapper .call-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  margin: 0 auto 15px auto;
}

.fixed-menu-wrapper .call-btn i {
  font-size: 34px;
  margin-right: 10px;
  color: #ec075d;
}

.fixed-menu-wrapper .call-btn span.text {
  font-size: 14px;
  line-height: 1.3;
}

.fixed-menu-wrapper .call-btn span.text span {
  display: block;
  font-weight: 600;
}

.fixed-menu-wrapper .call-btn span.text span.number {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -1px;
}

.fixed-menu-wrapper .bottom-links {
  display: flex;
}

.fixed-menu-wrapper .bottom-links li:not(:nth-child(1)) a::before {
  content: '|';
  margin-right: 6px;
}

.fixed-menu-wrapper .bottom-links li a {
  font-size: 12px;
  font-weight: 600;
  color: #333;
  opacity: .7;
  position: relative;
  padding: 5px;
  white-space: nowrap;
}

.fixed-menu-wrapper .fixed-menu {
  width: 320px;
  max-width: 100%;
  margin: 0 auto;
}

.fixed-menu-wrapper .fixed-menu li a {
  font-weight: 700;
  font-size: 22px;
  color: #333;
  letter-spacing: -.8px;
  display: flex;
  align-items: center;
  padding: 4px 0;
  line-height: 1.4;
}

.fixed-menu-wrapper .fixed-menu li ul {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-25px);
}

.fixed-menu-wrapper .fixed-menu li.is_active ul {
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
  padding-left: 15px;
  transform: translateX(0);
}

.fixed-menu-wrapper .fixed-menu li.is_active ul a {
  font-size: 18px;
}

.fixed-menu-wrapper .fixed-menu li.my-dropdown > a::after {
  content: "\f078";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: 14px;
  margin-left: auto;
  display: inline-block;
}

.fixed-menu-wrapper .fixed-menu li.my-dropdown.is_active > a::after {
  transform: rotate(-180deg);
}

.fixed-menu-wrapper .close-menu {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  cursor: pointer;
  background-color: #ec075d;
  border: 0;
  z-index: 20;
}

.fixed-menu-wrapper .close-menu span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -9px;
  margin-top: -2px;
  width: 26px;
  height: 4px;
  background-color: #fff;
  transform: rotate(-45deg);
}

.fixed-menu-wrapper .close-menu span:nth-child(2) {
  transform: rotate(45deg);
}
